<div class="header-wrapper">
  <div>
    <a class="name-href" routerLink="">
      <div class="name-font">
        <span>D</span>
        <span style="color: #00bee8">a</span>
        <span>n</span>
        <span style="color: #4b47ff">i</span>
        <span style="color: #00bee8">j</span>
        <span>e</span>
        <span style="color: #4b47ff">l</span>
      </div>
  </a>
</div>
  <div class="href-container">
    <a href="">
      <span>About me</span>
    </a>
    <a href="">
      <span>Skills</span>
    </a><a href="">
      <span>Portfolio</span>
    </a>
  </div>
</div>
