.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000000;
  background-color: #141D2F;
  height: 125px;
}

.name-font {
  cursor: pointer;
  font-size: 32px;
  font-weight: 800;
  margin-left: 100px;
}

.name-href {
  &::after {
    background-color: transparent !important;
  }
}

.href-container {
  gap: 29px;
  display: flex;
  flex-direction: row;
  margin-right: 100px;
}

a {
  text-decoration: none;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;

  position: relative;

  &:hover {
    text-decoration: none;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 100%;
    width: 0;
    height: 3px;
    background-color: #4b47ff;
    transition: width 0.3s, left 0.3s;
  }

  &:hover::after {
    width: 100%;
    left: 0;
  }
}


