<div class="footer-wrapper">
  <div class="margin">
    <div>
      <div class="name-font">
        <span>D</span>
        <span style="color: #00bee8">a</span>
        <span>n</span>
        <span style="color: #4b47ff">i</span>
        <span style="color: #00bee8">j</span>
        <span>e</span>
        <span style="color: #4b47ff">l</span>
      </div>
      <span>Impressum</span>
    </div>
    <span class="copyright-span">
      © Danijel Savkovic 2023
    </span>
    <div class="href-icons">
      <img src="./assets/img/contact-icons/github.png" alt="">
      <img src="./assets/img/contact-icons/mail.png" alt="">
      <img src="./assets/img/contact-icons/linkedin.png" alt="">
    </div>
  </div>
</div>
