<div class="footer-wrapper">
  <div class="margin">
    <div class="footer-left">
      <a class="name-href" routerLink="" (click)="scrollToTop()">
        <div class="name-font">
          <span>D</span>
          <span style="color: #00bee8">a</span>
          <span>n</span>
          <span style="color: #4b47ff">i</span>
          <span style="color: #00bee8">j</span>
          <span>e</span>
          <span style="color: #4b47ff">l</span>
        </div>
      </a>
      <div id="imprint" class="imprint-big">
        <a class="imprint" routerLink="/legal" (click)="scrollToTop()">Imprint</a>
      </div>
    </div>
    <span class="copyright-span">
      © Danijel Savkovic 2023
    </span>
    <div class="href-icons">
      <a href="https://github.com/danijel991" target="_blank">
        <img class="spin-image" src="./assets/img/contact-icons/github.png" alt="">
      </a>
      <a href="mailto:mail@danijel-savkovic.com">
        <img class="spin-image" src="./assets/img/contact-icons/mail.png" alt="">
      </a>
      <a href="https://www.linkedin.com/in/danijel-savkovic-630951173/" target="_blank">
        <img class="spin-image" src="./assets/img/contact-icons/linkedin.png" alt="">
      </a>
    </div>
    <div class="imprint-small d-none">
      <a (click)="scrollToTop()" class="imprint" routerLink="/legal">Imprint</a>
    </div>
  </div>
</div>
