.aboutMe-wrapper {
  width: 471px;
  margin-bottom: 289px;
}
h1 {
  font-weight: 700;
  font-size: 90px;
  line-height: 120%;
}

span {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.text-area {
  width: 444px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 35px;

  img:first-child {
    margin-right: 42px;
  }
  // &img {
  //   margin-right: 42px;
  // }
}
