.aboutMe-wrapper {
  margin-bottom: 89px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  margin-left: 102px;
  justify-content: space-between;
  padding-top: 160px;
}

.aboutMe-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: min-content;
}

span {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.text-area {
  width: 444px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 35px;

  img:first-child {
    margin-right: 42px;
  }
  // &img {
  //   margin-right: 42px;
  // }
}

.aboutMe-right {
  height: 509px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image-small {
  border: 4px solid #00bee8;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 352px;
    height: 352px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.horizontal-line {
  width: 267px;
  height: 0px;
  border: 2px solid #00bee8;
}

.blurred-item-2 {
  background-image: url(../../assets/img/blurry/7.png);
  width: 20%;
  height: 951.44px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 53%;
}

h1 {
  margin: 0 0 35px 0;
}

body > app-root > app-main > div > app-about-me {
  z-index: 10;
}
