<div>
    <span>
        Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum dolor sit amet, consectetur
        adipiscing
        elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus eleifend sit amet porttitor
        sapien.
        Donec sollicitudin massa vel lorem vestibulum efficitur.
    </span>
    <div>
        <div>
            <img src="" alt="">
            <span>
                Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                sociosqu
                ad
                litora torquent per conubia nostra, per inceptos himenaeos.
            </span>
        </div>
        <div>
            <img src="" alt="">
            <span>
                Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                sociosqu
                ad
                litora torquent per conubia nostra, per inceptos himenaeos.
            </span>
        </div>
    </div>
</div>