<div class="aboutMe-wrapper">
  <div class="aboutMe-left">
    <h1>About me </h1>
    <span>
      Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus eleifend sit amet porttitor sapien.
      Donec sollicitudin massa vel lorem vestibulum efficitur.
    </span>
    <div>
      <div class="text-area">
        <img src="./assets/img/bulp.png" alt="">
        <span>
          Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad
          litora torquent per conubia nostra, per inceptos himenaeos.
        </span>
      </div>
      <div class="text-area">
        <img src="./assets/img/puzzle.png" alt="">
        <span>
          Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad
          litora torquent per conubia nostra, per inceptos himenaeos.
        </span>
      </div>
    </div>
  </div>
  <div class="aboutMe-right">
    <div class="image-small">
      <img src="./assets/img/photos/1.jpg" alt="">
    </div>
    <div class="horizontal-line"></div>
  </div>
</div>
<div class="blurred-item-2">
</div>
