<div class="iAm-wrapper">
  <div>
    <img class="image-big" src="./assets/img/photos/1.jpg" alt="">
  </div>
  <div class="me-middle">
    <div class="iAm-container">
      <span class="text-vertical">I am</span>
      <div>
        <h1>Danijel Savkovic</h1>
        <h2>FRONTEND DEVELOPER</h2>
      </div>
    </div>
    <div>
      <button (click)="contactMe()">Let’s talk!</button>
    </div>
  </div>
</div>
<div class="contactMe-bottom">
  <div class="contact-container">
    <div class="vertical-line-long"></div>
    <a href="github.com">
      <img src="./assets/img/contact-icons/github.png" alt="">
    </a>
    <a href="danijel.savkovic@yahoo.com">
      <img src="./assets/img/contact-icons/mail.png" alt="">
    </a>
    <a href="https://at.linkedin.com/">
      <img src="./assets/img/contact-icons/linkedin.png" alt="">
    </a>
    <a href="">danijel.savkovic@yahoo.com</a>
  </div>
  <div class="scrollDown">
    <a href="#contactMe">
      <span>Scroll down <img src="./assets/img/buttons/scrolldown.png" alt=""></span>
    </a>
  </div>
</div>
