<div class="iAm-wrapper">
  <div class="portfolioImg-container">
    <img class="image-big" src="./assets/img/photos/1.png" alt="">
  </div>
  <div class="me-middle">
    <div class="iAm-container">
      <div id="vert-text">
        <span class="text-vertical">I am</span>
      </div>
      <div>
        <h1>Danijel Savkovic</h1>
        <h2>FRONTEND DEVELOPER</h2>
      </div>
    </div>
    <div class="talk-btn">
      <a href="#contactMe">
        <button id="cotact-button">Let’s talk!</button>
      </a>
    </div>
  </div>
</div>
<div class="layer-10">
  <div class="contactMe-bottom">
    <div class="contact-container">
      <div class="vertical-line-long"></div>
      <div class="href-gap">
        <a href="https://github.com/danijel991" target="_blank">
          <img class="spin-image" src="./assets/img/contact-icons/github.png" alt="">
        </a>
        <a href="mailto:danijel.savkovic@yahoo.com">
          <img class="spin-image" src="./assets/img/contact-icons/mail.png" alt="">
        </a>
        <a href="https://www.linkedin.com/in/danijel-savkovic-630951173/" target="_blank">
          <img class="spin-image" src="./assets/img/contact-icons/linkedin.png" alt="">
        </a>
      </div>
      <div class="placebo-div"></div>
      <div class="mail-link">
        <a class="mail-link" href="mailto:danijel.savkovic@yahoo.com">danijel.savkovic@yahoo.com</a>
      </div>
    </div>
    <div class="scrollDown">
      <a href="#aboutMe">
        <span>Scroll down <img src="./assets/img/buttons/scrolldown.png" alt=""></span>
      </a>
    </div>
  </div>
</div>
<div>
  <img class="blurred-item-1" src="./assets/img/blurry/5.png" alt="">
</div>
<div>
  <img class="background-stipe-1" src="./assets/img/stripes/2.png" alt="">
</div>
