h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 120%;
}

h2 {
  font-size: 32px;
  font-weight: 700px;
}

.legalNotice__wrapper {
  padding: 200px 100px 50px;
}

p,
li,
i,
h3,
h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@media only screen and (max-width: 900px) {
  .legalNotice__wrapper {
    padding: 200px 25px 50px;
  }

  h1{
    display: none;
  }

  p,
li,
i,
h3,
h4 {
  display: inline-block;
  width: 100%;
  // text-align: justify;
}

#imprint-small {
  font-size: 50px !important;
}
}
