h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 120%;
}

.legalNotice__wrapper {
  padding: 200px 100px 50px;
}

p,
li,
i,
h3,
h4 {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 180%;
}
