<div class="projects-wrapper">
  <div class="title-area">
    <h1>Portfolio</h1>
    <span>This page is a sample of my work - please feel free to try them out.</span>
    <div>
      <div class="project-wrapper">
        <div>
          <img src="./assets/img/project-thumbnail/join.png" alt="">
        </div>
        <div>
          <h2>Join</h2>
          <span>Javascript</span>
          <span>Teamwork based project</span>
          <button class="test-btn">Live test</button>
          <button class="github-btn">Github</button>
        </div>
      </div>
      <div class="project-wrapper">
        <div>
          <h2>Sharkie</h2>
          <span>Angular | Firebase</span>
          <span>JavaScript based 2d canvas game</span>
          <button class="test-btn">Live test</button>
          <button class="github-btn">Github</button>
        </div>
        <div>
          <img src="./assets/img/project-thumbnail/sharkie.png" alt="">
        </div>
      </div>
      <div class="project-wrapper">
        <div>
          <img src="./assets/img/project-thumbnail/ringoffire.png" alt="">
        </div>
        <div>
          <h2>Ring of Fire</h2>
          <span>Angular | Firebase</span>
          <span>Simple realtime syncing drink game</span>
          <button class="test-btn">Live test</button>
          <button class="github-btn">Github</button>
        </div>
      </div>
    </div>
  </div>
</div>
