.projects-head-wrapper {
  margin-top: 10px;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subhead-span {
  text-align: center;
}

.btn-small {
  display: none;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.title-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

.line-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.short-line {
  border: 2px solid #4b47ff;
  width: 109px;
  height: 0px;
}

h1 {
  margin: 35px 36px;
}

.subhead-span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.long-line {
  border: 2px solid #4b47ff;
  flex: 1;
  height: 0px;
  width: 33vw;
}

.test-btn {
  background: #4b47ff;
  border-radius: 10px;
  width: 152px;
  height: 58px;
  color: #ffffff;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  margin-right: 86px;
}

.github-btn {
  background: transparent;
  border: 1px solid #00bee8;
  width: 137px;
  height: 58px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
}

img {
  height: 340px;
  width: 620px;
}

.projects-right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 513px;
}

.projectTechnology {
  color: #00bee8;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  margin-bottom: 20px;
}

.projectDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 35px;
}

h2 {
  color: #4b47ff !important;
  font-weight: 700 !important;
  font-size: 32px !important;
  line-height: 120% !important;
  margin-bottom: 20px !important;
}

.img-left {
  margin-right: 35px;
}

.img-right {
  margin-left: 35px;
}

.projects-section {
  padding-top: 130px;
  margin-left: 100px;
  margin-right: 100px;
}

.even {
  align-items: flex-end;
}

.img-padding {
  padding-bottom: 24px;
}

#text-right {
  text-align: right !important;
}

.blurred-item-4 {
  background-image: url(../../assets/img/blurry/2.png);
  position: absolute;
  transform: rotate(349deg);
  object-fit: cover;
  left: -30%;
  padding-bottom: 50%;
  height: 0;
  width: 100%;
  background-size: contain;
  top: 30%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1340px) {
  .projects-section {
    margin-left: 50px;
    margin-right: 50px;
  }

  .projects-right-wrapper {
    width: 400px;
  }

  .img-left,
  .img-right {
    height: 272px;
    width: 496px;
  }
}

@media only screen and (max-width: 1260px) {
}
@media only screen and (max-width: 1080px) {
  .blurred-item-4 {
    left: -33%;
    top: 50%;
  }

  .img-right,
  .img-left {
    margin: 0;
    height: 272px;
    width: 400px;
    object-fit: cover;
  }

  .projects-right-wrapper {
    width: 380px;
  }
}

@media only screen and (max-width: 900px) {
  .project-wrapper {
    flex-direction: column;
  }

  .blurred-item-4 {
    left: -74%;
    top: 0%;
    padding-bottom: 87%;
  }

  .projects-right-wrapper {
    align-items: center;
    text-align: center;
  }

  #text-right {
    text-align: center !important;
  }

  .btn-big {
    display: none;
  }

  .projects-section {
    margin-left: 25px;
    margin-right: 25px;
  }

  .btn-small {
    display: flex;
  }

  .short-line {
    width: 20px;
  }

  h1 {
    font-size: 45px !important;
    margin: 25px 0;
  }

  .title-area {
    align-items: center;
  }

  .header-center {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 38px;
    width: 260px;
  }

  .long-line {
    width: 33vw;
    margin-right: -33vw;
  }

  @media only screen and (max-width: 680px) {
    .blurred-item-4 {
      left: -53%;
    }
  }
}
