.test-btn {
  background: #4b47ff;
  border-radius: 10px;
  width: 152px;
  height: 58px;
  color: #ffffff;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  margin-right: 86px;
}

.github-btn {
  background: transparent;
  border: 1px solid #00bee8;
  width: 137px;
  height: 58px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;

}

img {
  height: 340px;
  width: 620px;
}
