.projects-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.line-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: -42vw;
}

.short-line {
  border: 2px solid #4b47ff;
  width: 109px;
  height: 0px;
}

h1 {
  margin: 35px 36px;
}

.subhead-span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.long-line {
  border: 2px solid #4b47ff;
  flex: 1;
  height: 0px;
  min-width: 500px;
}

.test-btn {
  background: #4b47ff;
  border-radius: 10px;
  width: 152px;
  height: 58px;
  color: #ffffff;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  margin-right: 86px;
}

.github-btn {
  background: transparent;
  border: 1px solid #00bee8;
  width: 137px;
  height: 58px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
}

img {
  height: 340px;
  width: 620px;
}

.projects-right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 513px;
}

.projectTechnology {
  color: #00bee8;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  margin-bottom: 15px;
}

.projectDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 35px;
}

h2 {
  color: #4b47ff !important;
  font-weight: 700 !important;
  font-size: 32px !important;
  line-height: 120% !important;
}

.img-left {
  margin-right: 35px;
}

.img-right {
  margin-left: 35px;
}

.projects-margin {
  margin-left: 100px;
  margin-right: 100px;

}

.even {
  align-items: flex-end;
}
