<div class="projects-wrapper">
  <div class="title-area">
    <div class="title-area">
      <div class="line-wrapper">
        <div class="short-line"></div>
        <div class="header-center">
          <h1>Portfolio</h1>
          <span>This page is a sample of my work - please feel free to try them out.</span>
        </div>
        <div class="long-line"></div>
      </div>
    </div>
    <div>
      <div class="project-wrapper">
        <div>
          <img src="./assets/img/project-thumbnail/join.png" alt="">
        </div>
        <div class="projects-right-wrapper">
          <h2>Join</h2>
          <span class="projectTechnology">Javascript</span>
          <span class="projectDescription">Teamwork based project</span>
          <div class="btn-area">
            <button class="test-btn">Live test</button>
            <button class="github-btn">Github</button>
          </div>
        </div>
      </div>

      <div class="project-wrapper">

        <div class="projects-right-wrapper">
          <h2>Sharkie</h2>
          <span class="projectTechnology">Angular | Firebase</span>
          <span class="projectDescription">JavaScript based 2d canvas game</span>
          <div class="btn-area">
            <button class="test-btn">Live test</button>
            <button class="github-btn">Github</button>
          </div>
        </div>
        <div>
          <img src="./assets/img/project-thumbnail/sharkie.png" alt="">
        </div>
      </div>

      <div class="project-wrapper">
        <div>
          <img src="./assets/img/project-thumbnail/ringoffire.png" alt="">
        </div>
        <div class="projects-right-wrapper">
          <h2>Ring of Fire</h2>
          <span class="projectTechnology">Angular | Firebase</span>
          <span class="projectDescription">Simple realtime syncing drink game</span>
          <div class="btn-area">
            <button class="test-btn">Live test</button>
            <button class="github-btn">Github</button>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
