<div id="projects" class="projects-wrapper">
  <div class="main-div">
    <div class="title-area">
      <div class="line-wrapper">
        <div class="short-line"></div>
        <div class="header-center">
          <h1>Portfolio</h1>

        </div>
        <div class="long-line-wrapper">
          <div class="long-line"></div>
        </div>
      </div>
      <span class="subhead-span">This page is a sample of my work - please feel free to try them out.</span>
    </div>
    <div class="projects-section">
      <div class="project-wrapper"  data-aos="zoom-out-down">
        <div class="img-padding">
          <img class="img-left" src="./assets/img/project-thumbnail/join.png" alt="">
        </div>
        <div class="projects-right-wrapper">
          <h2>Join</h2>
          <span class="projectTechnology">JavaScript | HTML | CSS</span>
          <span class="projectDescription">Task manager inspired by the Kanban System. Create and organize tasks using
            drag and drop functions, assign users and categories. </span>
          <div class="btn-area">
            <a href="https://danijel-savkovic.developerakademie.net/join/index.html">
              <button class="test-btn">Live test</button>
            </a>
            <a href="https://github.com/danijel991/Join">
              <button class="github-btn">Github</button>
            </a>
          </div>
        </div>
      </div>
      <div class="project-wrapper"  data-aos="zoom-out-down">
        <div class="projects-right-wrapper even">
          <div class="img-padding btn-small">
            <img class="img-right" src="./assets/img/project-thumbnail/sharkie.png" alt="">
          </div>
          <h2>Sharkie</h2>
          <span class="projectTechnology">JavaScript | HTML | CSS</span>
          <span id="text-right" class="projectDescription">A simple Jump-and-Run game based on an object-oriented approach. Help sharkie
            to find coins and poison bottles to fight against the killer whale.</span>
          <div class="btn-area btn-big">
            <a href="http://danijel-savkovic.developerakademie.net/Sharkie/index.html">
              <button class="test-btn">Live test</button>
            </a>
            <a href="https://github.com/danijel991/Sharkie">
              <button class="github-btn">Github</button>
            </a>
          </div>
        </div>
        <div class="img-padding btn-big">
          <img class="img-right" src="./assets/img/project-thumbnail/sharkie.png" alt="">
        </div>
        <div class="btn-area btn-small">
          <a href="http://danijel-savkovic.developerakademie.net/Sharkie/index.html">
            <button class="test-btn">Live test</button>
          </a>
          <a href="https://github.com/danijel991/Sharkie">
            <button class="github-btn">Github</button>
          </a>
        </div>
      </div>
      <div class="project-wrapper"  data-aos="zoom-out-down">
        <div class="img-padding">
          <img class="img-left" src="./assets/img/project-thumbnail/ringoffire.png" alt="">
        </div>
        <div class="projects-right-wrapper">
          <h2>Ring of Fire</h2>
          <span class="projectTechnology">Angular | TypeScript | HTML | CSS | Firebase </span>
          <span class="projectDescription">Indulge in a revolutionary real-time syncing drink game, where every sip
            becomes a synchronized experience of immersive entertainment and camaraderie.</span>
          <div class="btn-area">
            <a href="https://danijel-savkovic.developerakademie.net/ringoffire/">
              <button class="test-btn">Live test</button>
            </a>
            <a href="https://github.com/danijel991/ringoffire">
              <button class="github-btn">Github</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
