<div class="contact-wrapper" id="contactMe" data-aos="zoom-in-up">
  <div class="contact-left">
    <div class="contact-first-line">
      <div class="horizontal-line"></div>
      <h1>Contact </h1>
    </div>
  </div>
  <div class="contact-second-line">
    <div class="contact-info">
      <h2>Got a problem to solve?</h2>
      <div class="span-splitter">
        <span>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
          projects with my work.</span>
      </div>
      <span>Need a Frontend developer? <b><a href="#contact-right"> Contact me!</a></b></span>
    </div>
    <div class="contact-right" id="contact-right">
      <form (submit)="sendMail()" ngNativeValidate #myForm>
        <input required type="text" name="name" placeholder="Your name " #nameField>
        <input required type="mail" placeholder="Your email " #mailField>
        <div class="wrap">
          <div class="pull-tab"></div>
          <textarea required name="message" id="" cols="30" rows="10" placeholder="Your message"
            #mesageField></textarea>
        </div>
        <button #sendButton>
          <span>Send message :&#41; </span>
        </button>
        <div class="spinningCirle">
          <mat-progress-spinner id="spinner" mode="indeterminate"
            [style.display]="isLoading ? 'block' : 'none'"></mat-progress-spinner>
        </div>
      </form>
    </div>
  </div>
</div>
