.contact-wrapper {
  display: flex;
  height: 600px;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.contact-first-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.horizontal-line {
  border: 2px solid #4b47ff;
  width: 50px;
  height: 0px;
  margin-right: 50px;
}

.contact-right {
  display: flex;
  flex-direction: row;
  margin-right: 100px;
  justify-content: flex-end;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input,
    textarea {
      border: 1px solid #4b47ff;
      border-radius: 10px;
      padding: 15px 25px;
      gap: 10px;
      width: 617px;
      // height: 50px;
      background: #141d2f;
      color: white;
      margin-bottom: 35px;

      &::placeholder {
        color: white;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
      }
    }

    textarea {
      min-height: 202px;
      resize: vertical;
    }

    button {
      background: #00bee8;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      width: 253px;
      height: 58px;

      span {
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
      }
    }
  }
}

.contact-info {
  margin-left: 100px;
}

h1 {
  margin-bottom: 85px;
}

h2 {
  margin: 0 0 35px 0;
}

.span-splitter {
  margin-bottom: 25px;
}
