<div class="contact-wrapper" id="contactMe">
  <div class="contact-left">
    <div class="contact-first-line">
      <div class="horizontal-line"></div>
      <h1>Contact </h1>
    </div>
    <div class="contact-info">
      <h2>Got a problem to solve?</h2>
      <div class="span-splitter">
      <span>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
        projects with my work.</span>
      </div>
      <span>Need a Frontend developer? <b> Contact me!</b></span>
    </div>
  </div>
  <div class="contact-right">
    <form action="">
      <input type="text" placeholder="Your name ">
      <input type="mail" placeholder="Your email ">
      <textarea name="" id="" cols="30" rows="10" placeholder="Your message"></textarea>
      <button>
        <span>Send message :&#41; </span>
      </button>
    </form>
  </div>
</div>
