<div class="contact-wrapper" id="contactMe">
  <div class="contact-left">
    <div class="contact-first-line">
      <div class="horizontal-line"></div>
      <h1>Contact </h1>
    </div>
  </div>
  <div class="contact-second-line">
    <div class="contact-info">
      <h2>Got a problem to solve?</h2>
      <div class="span-splitter">
        <span>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
          projects with my work.</span>
      </div>
      <span>Need a Frontend developer? <b><a href="javascript:void(0);" (click)="scrollToName()">Contact
            me!</a></b></span>
    </div>
    <div class="contact-right" id="contact-right" data-aos="zoom-in-up">
      <form (ngSubmit)="sendMail()" ngNativeValidate #myForm="ngForm">
        <input required type="text" [(ngModel)]="model.name" name="name" id="name" minlength="3"
               class="input-field is-valid" placeholder="Your name " pattern="[A-Za-z0-9\s]+" #nameField
               (input)="checkValidity()">
        <input required type="email" name="email" minlength="5" placeholder="Your email " #mailField email="true"
               class="input-field"
               ngModel email (input)="checkValidity()">
        <div class="wrap">
          <div class="pull-tab"></div>
          <textarea required name="message" id="message" minlength="5" maxlength="10000" cols="30" rows="10"
                    placeholder="Your message" (input)="checkValidity()" #mesageField [(ngModel)]="model.message"
                    (keyup.enter)="sendButton.click()"></textarea>
        </div>
        <button #sendButton [disabled]="!isValid">
          <span>Send message :&#41;</span>
        </button>
        <div class="spinningCirle">
          <mat-progress-spinner id="spinner" mode="indeterminate"
                                [style.display]="isLoading ? 'block' : 'none'"></mat-progress-spinner>
        </div>
        <div *ngIf="successMessage==true" class="successSent">
          <span>Message successfully sent!</span>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="scroll-up-button-container" (click)="scrollToTop()">
  <img class="scroll-up-button" src="./assets/img/buttons/scrollup.png" alt="">
</div>
<div>
  <img class="blurred-image-5" src="./assets/img/blurry/8.png" alt="">
</div>
