.skill-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-left {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 54px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-icon {
  margin-bottom: 10px;
}

.skills {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100vw;
}

.skills-right {
  display: flex;
  align-items: center;
  flex-direction: column;

  button {
    width: 200px;
    height: 58px;
    background: #00bee8;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #ffffff;
  }
}

span {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 57px;
  max-width: 471px;
}

.align-right {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: right;
}

.horizontal-line {
  border: 2px solid #4b47ff;
  width: 58px;
  height: 0;
}

.right-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  // max-width: 657px;
}
