.skill-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
  padding-top: 200px;
}

.skills-left {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 123px;
  justify-items: center;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;

  &:hover {
    transform: translatey(-20px);
    cursor: pointer;
  }
}

.title {
  width: 73px;
  text-align: center;
}

.skill-icon {
  margin-bottom: 10px;
}

.skills {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 110px;
  margin-right: 0;
  width: 100%;
  justify-content: space-between;
}

.skills-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;

  button {
    width: 200px;
    height: 58px;
    background: #00bee8;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #ffffff;

    &:hover {
      background-color: #4b47ff;
      transition: all 125ms ease-in-out;
      transform: scale(1.1);
    }
  }
}

span {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 57px;
}

.align-right {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: right;
}

.horizontal-line {
  border: 2px solid #4b47ff;
  width: 58px;
  height: 0;
  margin-left: 42px;
}

.right-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 72px;
}

.skills-first-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.text-margin {
  margin-right: 100px;
}

h1 {
  margin: 32px 0 32px 0;
}

.blurred-item-3 {
  width: 100%;
  height: 713.44px;
  background-repeat: no-repeat;
  position: absolute;
  left: -482px;
  top: 69%;
  transform: rotate(40deg);
  object-fit: cover;
  z-index: -1;
}

@media only screen and (max-width: 1600px) {
  .skills-left {
  }
}

@media only screen and (max-width: 1340px) {
  .skills-left {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1260px) {
  .skills-left {
    gap: 0 95px;
  }
}
@media only screen and (max-width: 1080px) {
  h1 {
    font-size: 67.5px !important;
  }

  .title {
    font-size: 14px !important;
    width: 64px;
  }

  .skills-right {
    width: 400px;
    margin-left: 110px;
  }

  .skills {
    margin-left: 55px;
  }

  .horizontal-line {
    margin-left: 9px;
  }

  .text-margin {
    margin-right: 70px;
  }
  skills-right .skills-left {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 980px) {
  .skills-right {
    margin-left: 45px;
  }
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 45px !important;
  }

  .horizontal-line {
    width: 20px;
  }

  .skills {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100vw;
    padding-left: 25px;
    padding-right: 25px;
    width: unset;
    justify-content: normal;
    margin-left: 0;
  }

  .skill-wrapper {
    padding-top: 154px;
    margin-bottom: 92px;
  }

  .skills-right {
    margin-bottom: 70px;
    margin-left: 0;
    width: 100vw;
    align-items: flex-end;
  }

  .text-margin {
    text-align: right;
    margin-right: 25px;
  }

  .text-margin {
    width: 77%;
  }

  .skills-left {
    width: 100%;
    gap: unset;
    margin: 0;
  }

  .icon-container {
    width: 40vw;
  }

  .display-responsive {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    top: 66rem;
  }
}

@media only screen and (max-width: 560px) {
  .skill-icons {
    width: 60px;
  }
  .icon-container {
    width: 100%;
  }

  .display-responsive {
    top: 68rem;
  }
}
