<div id="skills" class="skill-wrapper" data-aos="zoom-in-up">
  <div class="skills">
    <div class="skills-left">
      <div *ngFor="let skill of skills; let i = index" class="skill-icons">
        <div class="icon-container">
          <img class="skill-icon" [src]="skill.img" alt="">
          <span class="title">{{skill.title}}</span>
        </div>
      </div>
    </div>
    <div class="skills-right">
      <div class="align-right">
        <div class="right-wrapper">
          <div class="skills-first-line">
            <h1>My skills</h1>
            <div class="horizontal-line"></div>
          </div>
          <div class="text-margin">
            <span>I have grown my frontend developments skills that have allowed me to create different real
              projects.</span>
          </div>
        </div>
      </div>
      <a href="#contactMe">
        <button>Get in touch</button>
      </a>
    </div>
  </div>
